{% extends 'index.html' %}

{% block head %}



{% endblock %}


{% block title %}



{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">

<form action="#">
      <div>
         <label class="user" for="text">
           <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#man-people-user"></use>
                    </g>
                  </svg>
         </label>
        <input class="user-input" type="text" name="name" id="name" placeholder="My name is">
      </div>
      <div>
        <label class="lock" for="password">
          <svg viewBox="0 0 32 32">
             <g filter="">
               <use xlink:href="#lock-locker"></use>
              </g>
            </svg>
        </label>
        <input type="password" name="name" id="name" placeholder="password">
      </div>
          <div>
      <label class="lock" for="check_password">
        <svg viewBox="0 0 32 32">
          <g filter="">
            <use xlink:href="#lock-locker"></use>
           </g>
          </svg>
      </label>
      <input type="password" name="name" id="name" placeholder="confirm password">
    </div>
     <div>
      <input type="submit" value="Sign in">
    </div>

</form>



{% endblock %}


